body {
  background-color: black;
  font-family: 'Audiowide';
  font-size: 2em;
}

#title {
  margin-top: 50px;
  text-align: center;
  color: #16a085;
}
.app-container {
  display: flex;
  flex: 1 0 auto;

  position: relative;
  margin: 100px auto;
  background-color: #2c3e50;

  border: solid #34495e 5px;
  border-radius: 5px;

  flex-direction: column;

  /* margin: 200px; */
  margin-left: 450px;
  min-width: 350px;
  max-width: 400px;
  height: 600px;
  background: rgb(34, 48, 52);
  background: linear-gradient(0deg, rgba(37, 45, 48, 0.883) 35%, #2c3e50);

  /* border-radius: 10px; */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

#numberDisplay {
  width: 330px;
  height: 50px;
  background-color: #16a085;
  margin: 50px auto 60px auto;
  border: solid #112622 2px;
  border-radius: 4px;
  font-size: 1.75em;
  text-align: right;
  padding: 45px 10px 10px 10px;
  float: right;
}

.display-container > #numberDisplay {
  background-color: #0f0f0f83;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
}

.number-btn {
  background-color: #bdc3c7;
  width: 65px;
  height: 55px;
  margin: 8px;
  display: inline-block;
  border-radius: 5px;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
  border-top: solid #bdc3c7 1px;
  border-left: solid #bdc3c7 1px;
  padding: 10px;
  cursor: pointer;
}
#zeroButton {
  color: rgb(4, 4, 4);
  background-color: #bdc3c7;
  font-size: 30px;
  width: 150px;
  height: 55px;
  margin: 8px;
  display: inline-block;
  border-radius: 5px;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
  border-top: solid #393939 1px;
  border-left: solid #393939 1px;
  padding: 10px 0px 10px 0px;
  cursor: pointer;
}

.operator-btn {
  color: white;
  background-color: #f8ab1bd5;
  font-size: 30px;
  width: 65px;
  height: 55px;
  display: inline-block;

  border-right: solid black 1px;
  border-bottom: solid black 1px;
  border-top: solid #bdc3c7 1px;
  border-left: solid #bdc3c7 1px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.clear-btn {
  float: left;
  display: flex;
  align-items: center;
  color: white;
  background-color: #c0392b;
  font-size: 30px;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
}

.equal-btn {
  background-color: #27ae60;
  font-size: 30px;
  width: 150px;
  height: 60px;
  margin: 8px;
  display: inline-block;
  border-radius: 5px;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
  border-top: solid #27ae60 1px;
  border-left: solid #27ae60 1px;
  padding: 10px 0px 10px 0px;
  cursor: pointer;
}
button:hover {
  background-color: #2c3e50;
}

button:hover > #zer0-btn {
  background-color: #2c3e50;
}
